.cardio-workout {
    color: white;
    text-shadow: 3px 3px 3px black;
}

.distance-input {
    color: white;
    text-shadow: 3px 3px 3px black;
}

.cardioworkout {
    color: white;
    text-shadow: 3px 3px 3px black;
}

.cardio-name {
    color: white;
    text-shadow: 3px 3px 3px black;
}

.cardio-distance {
    color: white;
    text-shadow: 3px 3px 3px black;
}